<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>bsnes</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>BSNESGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.snes</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>120</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>1</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>DSP3 coprocessor</string>
					<key>MD5</key>
					<string>484908D68405D44E2BE757B4E1E75D15</string>
					<key>Name</key>
					<string>dsp3.rom</string>
					<key>Optional</key>
					<true/>
					<key>Size</key>
					<integer>8192</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>ST-0018 coprocessor</string>
					<key>MD5</key>
					<string>DAFAE0E0C71C924075811C595C61A30E</string>
					<key>Name</key>
					<string>st018.rom</string>
					<key>Optional</key>
					<true/>
					<key>Size</key>
					<integer>163840</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>ST-0011 coprocessor</string>
					<key>MD5</key>
					<string>5C209CE0283632B6574AD835BF862BEE</string>
					<key>Name</key>
					<string>st011.rom</string>
					<key>Optional</key>
					<true/>
					<key>Size</key>
					<integer>53248</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>2</string>
	<key>OEProjectURL</key>
	<string>http://byuu.org/bsnes/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.snes</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>0</string>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
